:root {
	/* ------- colors ------- */
	--primary-color: #451952;
	--secondary-color: #662549;
	--tertiary-color: #AE445A;
	--quaternary-color: #FFF;
	--link-color: #F39F5A;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
